#used to specify Prism Element IP address or FQDN (assuming FADN can be resolved inside the container)
PRISM='127.0.0.1'
#used to specify the username to access Prism (viewer is the least privilege required)
PRISM_USERNAME='admin'
#used to specify the password for username
PRISM_SECRET='secret'
#leave this value to null if you don't want to verify SSL certificates. Set it to anything but null to check SSL certificates.
PRISM_SECURE=''
#used to specify the port used by Prism Element API
APP_PORT='9440'
#defines the time to wait between each poll
POLLING_INTERVAL_SECONDS='30'
#used to specify the container port where the node exporter will publish metrics
EXPORTER_PORT='8000'
#used to determine if VM metrics will be generated; set it to null/empy value if you don't want to collect VM metrics.
VM_METRICS='True'
#used to determine if host metrics will be generated; set it to null/empy value if you don't want to collect HOST metrics.
HOST_METRICS='True'
#used to determine if clusters metrics will be generated; set it to null/empy value if you don't want to collect cluster metrics.
CLUSTER_METRICS='True'
#used to determine if storage containers metrics will be generated; set it to null/empy value if you don't want to collect storage containers metrics.
STORAGE_CONTAINERS_METRICS='True'